/*
 * --- Filters Class Style ---
 */

/* Filters style */
.filters {
    background-color: white;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    height: 70px;
    width: 100%;
  }
  
  /* Search button style */
  .filters button {
    background: #FF5A5F;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    float: right;
    font-size: 18px;
    height: 48px;
    margin: 12px 30px;
    width: 20%;
  }
  
  /* Search button hover opacity */
  .filters button:hover {
    background-color: rgba(255, 90, 95, .9);
  }
  
  /* Locations and amenities style */
  .locations,
  .amenities {
    display: inline-block;
    height: 100%;
    width: 25%;
  }
  
  /* Locations border */
  .locations {
    border-right: 1px solid #DDDDDD;
  }
  
  /*
   * --- Places header style ---
   */
  
  /* Header 3 style */
  .locations h3,
  .amenities h3 {
      font-weight: 600;
      font-size: 16px;
      margin-top: 20px;
      margin-bottom: 0px;
      text-align: left;
      margin-left: 30px;
  }
  
  /* Header 4 style */
  .locations h4,
  .amenities h4 {
      font-weight: 400;
      font-size: 14px;
      margin-top: 0px;
      margin-bottom: 0px;
      text-align: left;
      margin-left: 30px;
  }
